<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/cloudtek3.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/bar-chart">
      <mat-icon> <span class="material-icons green-color">pie_chart_outline </span></mat-icon> bar-chart
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/line-chart">
      <mat-icon> <span class="material-icons green-color">pie_chart_outline </span></mat-icon> line-chart
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pie-chart">
      <mat-icon> <span class="material-icons green-color">pie_chart_outline </span></mat-icon> pie-chart
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Form">
      <mat-icon> <span class="material-icons green-color">pie_chart_outline </span></mat-icon> Form
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
      <mat-icon> <span class="material-icons green-color">pie_chart_outline </span></mat-icon> login
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/signup">
      <mat-icon> <span class="material-icons green-color">pie_chart_outline </span></mat-icon> signup
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/charts/bar-chart">
        <mat-icon>chart</mat-icon> chart
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/charts/line-chart">
        <mat-icon>chart</mat-icon> chart
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/charts/pie-chart">
        <mat-icon>chart</mat-icon> chart
      </a> -->
  </mat-nav-list>